<h1>Books</h1>

<table class='table table-hover table-inverse'>
  <tbody>
      <tr>
        <td>
          <%= @book.title %>
        </td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></</td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
        <% end %>
      </tr>
  </tbody>
</table>